@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styling */
* {
  box-sizing: border-box;
  font-family: "Space Mono";
}

/* Dark Theme */
body {
  background-color: #101010;
  color: #fff;
}

/* Components */
.bg-primary {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.text-primary {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);

  @apply text-transparent bg-clip-text;
}

.bg-shadow-l {
  box-shadow: inset 7px 0 9px -7px rgba(0, 0, 0, 0.4);
}

.bg-shadow-r {
  box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, 0.4);
}

.btn-primary {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  box-shadow: 0 2px 12px 0 rgba(139, 198, 236, 0.4);
  @apply flex px-4 py-2 rounded-lg justify-center items-center transition-shadow;
}

.btn-primary:hover {
  box-shadow: 0 2px 8px 0 rgba(139, 198, 236, 0.4);
}

.btn-primary:active {
  box-shadow: 0 2px 4px 0 rgba(139, 198, 236, 0.4);
}

/* Animations */
.blink-animation {
  animation: blink 1.5s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

/* Wallet Button */
.swv-button-trigger {
  background: #8bc6ec;
}

.swv-button-trigger:hover {
  background: #8bc0ec !important;
}
